/* IMPOSTAZIONI GENERALI */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    color: #393d41;
    font-size: 1.2rem;
    font-family: "Open Sans";
    line-height: 1.65;
    text-align: center;
}

h1,
h2,
h3 {
    color: #25a2c3;
    font-family: "Montserrat";
    font-weight: bold;
    line-height: 1.5em;
}

/* HEADER */
header {
    background-color: black;
}

header img {
    display: block;
    width: 175px;
    padding: 1.5em;
}

/* MAIN */
#title {
    padding: 7em;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: top;
    margin-bottom: 7em;
}

h1 {
    font-size: 2em;
    line-height: 1;
    padding: 0.5em 0.5em 0.7em 0.5em;
}

#title p {
    padding: 0 12em;
}

#title input {
    margin: 2.4em;
    padding: 1em 2em;
    font-family: "Montserrat";
    font-weight: bold;
    color: white;
    background-color: #f04c2f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

article {
    padding: 0 1.3em;
}

#art {
    display: inline-block;
    margin-left: 4em;
    padding-right: 4em;
    text-align: left;
}

h3 {
    padding: 0.7em 0;
}

article img {
    display: inline-block;
    margin-left: 4em;
    border-radius: 50%;
    width: 22em;
}

#quote {
    background-color: #e22d0e;
    color: white;
    margin-top: 6em;
    margin-bottom: 3.5em;
    padding: 1em 1em 2em 1em
}

#quote h2 {
    color: white;
    padding: 1.3em 0 0.7em 0;
    font-size: 2em
}

#quote q {
    font-style: italic;
    padding: 0 1em;
}

#name {
    padding-top: 1.8em
}

#role {
    font-size: 0.7em;
    padding-bottom: 2.5em;
}

/* ASIDE */

aside {
    margin-bottom: 7em;
}

.tabs {
    margin: 1.5em 1.5em 2em 1.5em;
    padding-bottom: 2em;
    border: 0.1em solid #dee1e3;
    border-radius: 1%;
    display: inline-block;
    width: 20em;
}

.tabs img {
    width: 100%;
}

#pic2 {
    height: 13.4em;
}

#pic3 {
    height: 13.4em;
}


.tabs p {
    margin: 0 0.7em;
}

/* FOOTER */

footer {
    color: #c8e7f0;
    background-color: #25a2c3;
    padding-bottom: 2em;
    align-content: center;
    margin: auto;
}

footer h2 {
    color: white;
    font-size: 2em;
    padding: 0.7em;
    ;
}

footer a {
    color: #c8e7f0
}

footer address {
    display: inline-block;
    text-align: left;
    padding-bottom: 1.5em;
    margin: auto;
}

footer hr {
    width: 20%;
}

footer p {
    padding: 0em 0em 1.5em 0em;
    margin: 1.5em auto 0 auto;
}